@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ephesis&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*footer section*/
footer {
    position: fixed;
    
}

@media (max-height:800px) {
    footer {
        position: static;
    }
   
}

.footer-distributed {
    background-color: #0e214e;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    height: 340px;
    color: #ffffff;
    position: absolute;
    top: -1;

}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
    margin-left: 30PX;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'poppins', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #ffffff;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    display: flex;
    gap: 2rem;
    position: relative;
    left: 360px;
    top: -60px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    left: 415px;
    top: 120px;
}


/* Footer Right */

.footer-distributed .footer-right {
    align-items: center;
    justify-content: center;
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    position: relative;
    
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    left: 550px;
}


.para{

    width: 300px;
    height: 200px;
    position: relative;
    left: 550px;
    text-overflow: clip;
    font-weight: 400;
    color: #92999f;
    font-size: 14px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}



.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-icons a img{
    width: 100%;
    position: relative;
    left: 550px;
    top: -70px;
}



.footer-links a:hover {
    color: #3F71EA;
}

.footer-left h3{
    align-items: flex-start;
}