*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    height: 80px;
    background-color: #2db5e5;
}


.section{
   
   height: 80vh;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    gap: 2rem;
    padding: 60px;
    z-index: -1;
}


.category{
    width: 100%;
    height: 80px;
    /*background-color: red;*/
    margin-top: 20px;
}


.section .card{
    width:160px;
    height: 200px;

    
}

.card:hover{
   transform: scale(1.01);
}

.card img{
    width: 160px;
    height:180px;
    background-position: center;
    background-size: cover;
    border:1px solid rgb(201, 201, 201) ;
     border-radius: 14px;

}

.card-bottom{
    display: flex;
    gap: 16px;
   padding: 10px;
   position: relative;
   top: -60px;
  font-weight: bold;
  color: black;
  background-color: rgba(59, 70, 97, 0.7);
  border-radius: 10px;

}

.filterDiv{
    width: 57px;
    height: 37px;
font-size: 17px;
color: white;
}


.card-bottom button{
    padding: 9px 16px;
    background-color: #2db5e5;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
}


.category{
    width: 100%;
    height: 90px;
   /* background-color: red;*/
   display: flex;
   justify-content: center;
   gap: 4rem;
    
    
   

}


.category-item{
    width:150px;
    height: 90px;

    
}

.category-card img{

    width: 50px;
    height: 50px;
    cursor: pointer;

}

.category-item button{
 padding: 10px;
 border: none;
}





/*popup msg*/

.modal{

    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
display: flex;
   justify-content: center;
   align-items: center;

}

.modal-content{
   
    background-color: white;
    width: 700px;
    height: 510px;
    padding: 20px;
    border-radius: 8px;
}

.modal-content img{
   

    background-color: rebeccapurple;
    width: 300px;
     height: 300px;   
     margin-top: 20px;
}

.selection {
   position:relative;
   left: 340px;
   top: -300px;
   
}

.slider-Method , .slider-Form{
   /* background-color: red;*/
    width: 320px;
    height: 70px;
}


#close{
    padding: 7px 22px;
    background-color:red ;
    border: none;
    position: relative;
    right: -580px;
    top: -20px;
    cursor: pointer;
 
}

#close:hover {
    background-color: darkred;
}


.counter{
    display: flex;
    position: relative;
    left: 100px;
    top: 10px;
    gap: 20px;
}

.counter button{
    padding: 5px 8px;
    background-color: #004c98;
    border: none;
    color: white;
    cursor: pointer;
}

.counter p{
    font-size: 20px;
}


.addBasket{
    background-color: #007bff;
    padding: 10px 55px;
    position:relative;
    top: 110px;
    left: -180px;
    color: white;
    border: none;
    border-radius: 7px;
}

.card #price{
   display: none;
}










@media (max-width:720px) {
    .section{
        grid-template-columns: repeat(2,5fr);

        .modal-content{
          width: 500px;
        }

        .modal-content img{
            width: 200px;

        }

        .selection {
            position:relative;
            left: 240px;
            top: -300px;
            
         }

         textarea{
            width: 220px;
         }
         

         
         .counter{
    
            left: 50px;
            top: 10px;
            gap: 20px;
         }


         .addBasket{
       
        position: relative;
        left: -220px;
        }

        #close{
            padding: 7px 22px;
            background-color:red ;
            border: none;
            position: relative;
            right: -380px;
            top: -20px;
            cursor: pointer;
         
        }
        
         

    }    
}




