*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    height: 80px;
    background-color: #2db5e5;
}


.section{
   
   height: 80vh;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    gap: 2rem;
    padding: 60px;
    z-index: -1;
}


.category{
    width: 100%;
    height: 80px;
    /*background-color: red;*/
    margin-top: 20px;
}


.section .card{
    width:160px;
    height: 200px;

    
}

.card:hover{
   transform: scale(1.01);
}

.card img{
    width: 160px;
    height:180px;
    background-position: center;
    background-size: cover;
    border:1px solid rgb(201, 201, 201) ;
     border-radius: 14px;

}

.card-bottom{
    display: flex;
    gap: 14px;
   padding: 10px;
   position: relative;
   top: -60px;
  font-weight: bold;
  color: black;
  background-color: rgba(109, 135, 201, 0.5);
  border-radius: 10px;

}

.card-bottom h4{
    display: flex;
    align-items: center;
}



.card-bottom button{
    padding: 9px 14px;
    background-color: #2db5e5;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.category{
    width: 100%;
    height: 90px;
   /* background-color: red;*/
   display: flex;
   justify-content: center;
   gap: 4rem;
    
    
   

}


.category-item{
    width:150px;
    height: 90px;

    
}

.category-card img{

    width: 50px;
    height: 50px;
    cursor: pointer;

}

.category-item button{
 padding: 10px;
 border: none;
}





/*popup msg*/

.modal{
    visibility: hidden;
 width: 550px;
 height: 310px;
 background-color: red;
position: absolute;
left: 30%;
right: 30%;
top: 48%;
bottom: 48%;
z-index: 1;
overflow: auto;

}
















@media (max-width:720px) {
    .section{
        grid-template-columns: repeat(2,5fr);
    }
}




